@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'variables_drupal';

p {
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  line-height: $line-height-base;
  margin-bottom: $space-md;
}

p:last-child {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
}

.info-block {
  &__text-content {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: $breakpoint-md) {
  .info-block {
    &__text-content {
      padding: $space-lg $space-sm;
      min-height: 350px;

      p {
        font-size: $font-size-base;
      }
    }

    &__image-display {
      height: 400px;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .info-block {
    &__image-display {
      height: 300px;
    }
  }
}

.project-details {
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg width='120' height='120' viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill-opacity='0.1' fill='%23cccccc'%3E%3Cpath d='M60 120V0L0 30v60L60 120zM0 30l60-30L120 30v60L60 120 0 90V30z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 300px;

  &__title,
  &__subtitle,
  &__section-title {
    color: $primary-green;
  }

  &__list {
    color: $text-dark;

    li {
      padding-left: 1.25rem;
      position: relative;

      &::before {
        content: '•';
        position: absolute;
        left: 0;
        color: $light-gray;
        font-size: 1.2rem;
        line-height: 1.3;
      }
    }
  }

  @media (max-width: 576px) {
    background-size: 200px;
  }
}

.ecosystem-block {

  &__title,
  &__subtitle,
  &__highlight,
  &__section-title {
    color: $primary-green;
    font-family: $font-family-heading;
  }

  &__list {
    li {
      padding-left: 1.2rem;
      position: relative;
      color: $text-dark;
      font-weight: 300;

      &::before {
        content: '•';
        position: absolute;
        left: 0;
        top: 2px;
        color: $light-gray;
        font-size: 1.25rem;
      }
    }
  }

  // Style cho các card
  &__card {
    &--dark-green {
      background-color: $primary-green;
      color: $white;

      .ecosystem-block__card-list {
        color: rgba($white, 0.9);

        li::before {
          color: rgba($white, 0.7);
        }
      }
    }

    &--light-green {
      background-color: $light-green;
      color: $text-dark;

      .ecosystem-block__card-list,
      .ecosystem-block__card-list li::before {
        color: $text-dark;
      }
    }
  }

  &__card-icon {
    img {
      height: 40px;
      width: auto;
    }
  }

  &__card-list {
    li {
      padding-left: 15px;
      position: relative;

      &::before {
        content: '•';
        position: absolute;
        left: 0;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .ecosystem-block {
    &__row {
      flex-direction: column;
      gap: $space-lg;
    }

    &__col:last-child {
      align-items: flex-start;
    }

    &__visual {
      text-align: left;
    }

    &__title {
      font-size: $font-size-xxl;
    }

    &__subtitle {
      font-size: $font-size-lg;
    }

    &__grid {
      grid-template-columns: 1fr;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .ecosystem-block {
    padding-left: $space-sm;

    &__title {
      font-size: 1.8rem;
    }

    &__subtitle {
      font-size: $font-size-md;
    }

    &__large-text {
      font-size: $font-size-xl;
    }

    &__card {
      padding: $space-sm;
    }
  }
}

.rayonnement-block {
  color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  &__title {
    font-family: $font-family-heading;
    color: $primary-green;
  }

  &__subtitle {
    font-family: $font-family-heading;
    color: $primary-green;
    letter-spacing: 3px;
  }

  &__intro p,
  &__text p,
  &__footer-text p {
    color: $primary-green;
  }

  &__line {
    position: absolute;
    bottom: -1px;
    right: 3.4rem;
    width: 35px;
    height: 2px;
    background: $primary-green;
  }

  &__icon {
    width: 3rem;
    height: 3rem;

    svg {
      width: 1.625rem;
      height: 1.625rem;
    }
  }

  &__text {
    ul {
      >li {
        padding-left: 1.25rem;
        position: relative;

        &::before {
          content: '•';
          position: absolute;
          left: 0;
          font-weight: 400;
          font-size: 1.2rem;
          line-height: 1;
        }

        ul {
          li {
            &::before {
              content: '◦';
              left: 3px;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .rayonnement-block {

    &__header,
    &__intro,
    &__content {
      padding-left: $space-md;
      padding-right: $space-md;
    }

    &__header {
      padding-top: $space-md;
      padding-bottom: $space-sm;
    }

    &__intro {
      padding-top: $space-sm;
      padding-bottom: $space-sm;
    }

    &__content {
      padding-bottom: $space-md;
    }

    &__item {
      gap: $space-sm;
    }

    &__icon {
      width: 2.625rem;
      height: 2.625rem;

      svg {
        width: 1.375rem;
        height: 1.375rem;
      }
    }

    &__text {
      h3 {
        font-size: $font-size-sm;
      }
    }

    &__bg-image {
      height: 50%;
    }
  }
}

@media (max-width: $breakpoint-sm) {
  .rayonnement-block {

    &__header,
    &__intro,
    &__content {
      padding-left: $space-sm;
      padding-right: $space-sm;
    }

    &__title {
      font-size: 1.375rem;
    }

    &__item {
      flex-direction: row;
      gap: 0.75rem;
    }

    &__bg-image {
      height: 45%;
    }
  }
}

.direction-projet {

  &__main-title,
  &__email {
    color: $primary-green;
  }

  &__photo {
    width: 140px;
    height: 160px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.15));
    }
  }

  &__name {
    span {
      text-transform: uppercase;
    }
  }

  @media (max-width: 992px) {
    .col-lg-7 {
      .direction-projet__member {
        justify-content: center !important;
      }
    }
  }

  @media (max-width: 768px) {
    &__member {
      flex-direction: column;
      text-align: center;

      .order-1 {
        order: 1 !important;
      }

      .order-2 {
        order: 2 !important;
      }

      .ms-4 {
        margin-left: 0 !important;
        margin-top: 1rem;
      }
    }
  }
}

.content-list-block {
  padding: $space-lg 0;
  font-family: $font-family-base;
  position: relative;
  padding-left: $space-md;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 4px;
    background-color: $primary-green;
    border-radius: 2px;
  }

  &__title {
    font-family: $font-family-heading;
    font-size: $font-size-lg;
    color: $primary-green;
    font-weight: $font-weight-semibold;
    margin: 0 0 $space-sm 0;
  }

  &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;

    li {
      font-size: $font-size-base;
      color: $text-super-light-gray;
      font-weight: $font-weight-light;
      line-height: $line-height-base;
      padding-left: $space-sm;
      position: relative;
      margin-bottom: $space-xs;

      &::before {
        content: '•';
        position: absolute;
        left: 0;
        color: $light-gray;
      }
    }
  }
}

@media (max-width: $breakpoint-md) {
  .content-list-block {
    padding-left: $space-sm;

    &__title {
      font-size: $font-size-base;
    }

    &__list li {
      font-size: $font-size-sm;
    }
  }
}

// .hero-with-line {
//   min-height: 800px;

//   &__image-container {
//     height: 450px;
//     background-size: cover;
//     background-position: center;
//   }

//   &__content-container {
//     position: relative;
//     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23e0e0e0' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

//     &::before {
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 50%;
//       transform: translateX(-50%);
//       width: 100%;
//       height: 25px;
//       background-color: $primary-green;
//     }
//   }

//   &__title {
//     color: $primary-green;
//     letter-spacing: 2px;
//   }

//   &__subtitle {
//     color: $primary-green;
//     letter-spacing: 4px;
//   }

//   &__logos {
//     img {
//       height: 40px;
//       width: auto;
//       object-fit: contain;
//     }
//   }

//   @media (max-width: 768px) {
//     min-height: 700px;

//     &__image-container {
//       height: 350px;
//     }
//   }
// }
.block-field-blocknodepagetitle {
  span {
    color: $primary-green;
    font-family: $font-family-heading;
    font-weight: $font-weight-extrabold;
    font-size: $font-size-xxxl;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    max-width: 650px;
    margin: 20px auto 10px auto;
    text-align: center;
    line-height: 1.2;
  }
}
.block-field-blocknodepagebody {
  p {
    text-align: center;
    font-size: 2.25rem;
    color: $text-light;
    font-weight: $font-weight-light;
    line-height: 1.6;
    margin-top: 1.5rem;
  }
}
.logo-strip {
  img {
    height: 50px;
    width: auto;
    object-fit: contain;
  }
}
.equipe-projet {
  &__main-title,
  &__subtitle,
  &__disciplines-title {
    color: $primary-green;
  }

  &__main-title {
    font-weight: 700;
  }
  &__subtitle,
  &__disciplines-title {
    font-weight: 300;
  }

  &__description p,
  &__description li,
  &__disciplines li {
    color: $light-gray;
  }

  &__description ul {
    li {
      padding-left: 1.5rem;
      position: relative;

      &::before {
        content: '>';
        position: absolute;
        left: 0;
        color: $primary-green;
      }
    }
  }
}
